@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;;
}

/* ==== DailyGreens Logo Design ==== */

@theme{
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}


.icon-container {
  width: 152px;
  height: 34.5156px;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
}

.logo-text {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;
  color: #000;
  white-space: nowrap;
}

/* ==== Scroll Bar ==== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #4fbf8b; /* your requested color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #44ae7c;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}